@font-face {
    font-family: "shrikhand";
    src: url(../fonts/Shrikhand-Regular.ttf);
}

@font-face {
    font-family: "farro";
    src: url(../fonts/Farro-Regular.ttf);
}

@font-face {
    font-family: "audiowide";
    src: url(../fonts/Audiowide-Regular.ttf);
}