@use "./mixins" as *;
@use "./font" as *;
@use "./variables" as *;


* {
    box-sizing: border-box;
    font-family: $font1;
}

html, body {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    position: relative;
    overflow-x: hidden;

    a{
        color: black;
    }
}