@use "../main/font" as *;
@use "../main/global" as *;
@use "../main/mixins" as *;
@use "../main/normalize" as *;
@use "../main/variables" as *;

header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 7rem;

    .title {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0;
        margin: 0;
        font-family: $font3;
        font-size: 4rem;
    }
}

main {
    min-height: 100vh;
    width: 100vw;

    @include desktop {
        height: calc(100vh - 7rem);
    }

    h3 {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        text-align: center;
        margin: 0;
        padding: 0;
        font-size: 3rem;
        letter-spacing: 2px;
        font-family: $font3;
    }

    h4 {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        text-align: center;
        margin: 0;
        padding: 0;
        font-size: 3rem;
        letter-spacing: 2px;
        font-family: $font3;
    }

    .form-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin: 3rem 2rem;
        width: 100vw;
        min-height: calc(100vh - 15rem);
        border-radius: 5rem;
        box-shadow: 2px 5px 8px rgba($color: #000000, $alpha: 0.4);

        @include desktop {
            min-height: calc(100vh - 20rem);
        }

        form {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            flex-wrap: wrap;
            margin: 0 4rem;

            @include desktop {
                flex-direction: column ;
            }

            h2 {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 7rem;
                padding: 0;
                margin: 0;
                font-family: $font3;

                @include desktop {
                    font-size: 4rem;
                    margin: 2rem;
                }
            }

            label {
                display: flex;
                align-items: flex-end;
                font-size: 2rem;
            }

            input, select {
                height: 3rem;
                border: 1px solid grey;
                border-radius: 4px;
                margin: 1rem;
                width: 30rem;
            }

        }
    }

    .msg {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        font-size: 1.8rem;
        margin: 4rem 2rem;
        font-family: $font3;
    }

    .btn {
        margin: 1rem;
        border-radius: 3rem;
        height: 8rem;
        font-size: 2.5rem;
        box-shadow: 2px 5px 8px rgba($color: #fefefe, $alpha: 0.4);
    }

    p {
        font-family: $font3;
        font-size: 2rem;
    }

    .restart {
        height: 4rem;
        border: 1px solid grey;
        border-radius: 4px;
        margin-bottom: 1rem;
        width: 30rem;
        font-size: 2rem;
    }

    .score {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-family: $font3;
        font-size: 4rem;
    }

    .image {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 2rem;
            width: 40rem;
            height: 20rem;

            @include desktop {
                width: 50rem;
                height: 30rem;
            }
        }
    }

}